@tailwind base;
@tailwind components;
@tailwind utilities;


.content_bg {
    background-image: url('../public/fundo2.svg');
    position: relative;   
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_bg_bar {
    background-image: url('../public/barra amarela.svg');
    position: relative;    
    height: auto;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.active {
    background:'#3770A0';
}

