@tailwind base;
@tailwind components;
@tailwind utilities;


.content_bg {
    background-image: url('../public/fundo1.png');
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700")


